<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="icon" href="img/icone.png")
	link(rel='stylesheet' href='style/normalize.css' media='all')
	link(rel='stylesheet' href='style/defoult.css' media='all')
	link(rel='stylesheet' href='style.css' media='all')
	//- <link rel="icon" href="https://cookieless.MySite.com/favicon.ico" type="image/x-icon" />

	//- link(rel="icon" href="gfg.png" type="image/png" sizes="16x16")
body
	h3 dfdf
	img(src="img/icone.png", alt="")