block body
	-var titlePage = dfdf
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title #{titlePage}
	meta(name='viewport' content="width=device-width,inital-scale=1.0")
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous")

	link(rel='stylesheet' href='style/normalize.css' media='all')
	link(rel='stylesheet' href='style/defoult.css' media='all')
	link(rel='stylesheet' href='style.css' media='all')
	link(rel='icon' href='img/icone.png'  type="image/png" sizes="16x16")
body
	block main
		h2 sdsdsdsdsdsd
		
	img(src="../../../img/icone.png", alt="")